<li class=''>
    <a class="dropdown-collapse" href="#"><i class='icon-glass'></i>
        <span>{{ 'product_bundle.product.manager'|trans }}</span>
        <i class='icon-angle-down angle-down'></i>
    </a>
    <ul class='nav nav-stacked'>
        <li>
            <a class='dropdown-collapse' href='#'>
                <i class='icon-caret-right'></i>
                <span>{{ 'product_bundle.products'|trans }}</span>
                <i class='icon-angle-down angle-down'></i>
            </a>
            <ul class='nav nav-stacked'>
                <li>
                    <a href='{{ url('oni_product_list') }}'>
                        <i class='icon-caret-right'></i>
                        <span>{{ 'core_bundle.list'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href='{{ url('oni_add_product') }}'>
                        <i class='icon-caret-right'></i>
                        <span>{{ 'product_bundle.add.product'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href='{{ url('oni_add_product_option_group') }}'>
                        <i class='icon-caret-right'></i>
                        <span>{{ 'product_bundle.add.option.group'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href='{{ url('oni_add_product_option_group') }}'>
                        <i class='icon-caret-right'></i>
                        <span>{{ 'product_bundle.add.product.feature'|trans }}</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=''>
            <a href='{{ url('oni_categories_list') }}'>
                <i class='icon-caret-right'></i>
                <span>{{ 'product_bundle.product.categories'|trans|title }}</span>
            </a>
        </li>
    </ul>
</li>