{# src/Atk/CmsBundle/Resources/views/security/login.html.twig #}
{% extends 'CoreBundle:cms:base.html.twig' %}
{% block title %}
    Add Option Group
{% endblock %}
{#{% form_theme form 'CoreBundle:cms/form:bootstrap_horizontal_layout.html.twig' %}#}
{% block body %}
    <section id='content'>
        <div class='container-fluid'>
            <div class='row-fluid' id='content-wrapper'>
                <div class='span12'>
                    {% embed 'CoreBundle:cms:content/content-header.html.twig' %}
                        {% block contentTitle %} New Product Option Group {% endblock %}
                    {%  endembed %}
                    <div class='row-fluid'>
                        <div class="pull-right">
                            <a class="btn btn-primary" style="margin-bottom:8px" href="{{ url('oni_add_product_option_group') }}" > <i class="icon-plus"></i> {{ 'product_bundle.add.new.product.option'|trans }} </a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 box">
                            <div class="box-content">
                                {{ form_start(form) }}
                                    {{ form_row(form.name)}}
                                    {{ form_row(form.optionGroupType) }}
                                    <hr class="hr-normal">
                                    {{ form_row(form.add) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}