{# src/Atk/CmsBundle/Resources/views/security/login.html.twig #}
{% extends 'CoreBundle:cms:base.html.twig' %}
{% block title %}
    {{ pageName }}
{% endblock %}
{% form_theme form 'CoreBundle:cms:form/bootstrap_3_layout.html.twig' %}
{% block body %}

    <section id='content'>
        <div class='container-fluid'>
            <div class='row-fluid' id='content-wrapper'>
                <div class='span12'>
                    {% embed 'CoreBundle:cms:content/content-header.html.twig' %}
                        {% block contentTitle %} New Product {% endblock %}
                    {%  endembed %}
                    <div class="row-fluid">
                        <div class="span12 box" style="margin-bottom: 0">

                            <div class="box-content">
                                <div class="tabbable" style="margin-top: 20px">
                                    <ul class="nav nav-responsive nav-tabs">

                                        <li class="active">
                                            <a data-toggle="tab" href="#retab1">
                                                Information
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#retab2">
                                                Prices
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#retab3">
                                                Section 3
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#retab4">
                                                Section 4
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#retab5">
                                                Section 5
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="retab1" class="tab-pane active"><p>I'm in Section 1.</p>
                                        </div>

                                        <div id="retab2" class="tab-pane "><p>I'm in Section 2.</p>
                                        </div>

                                        <div id="retab3" class="tab-pane "><p>I'm in Section 3.</p>
                                        </div>

                                        <div id="retab4" class="tab-pane "><p>I'm in Section 4.</p>
                                        </div>

                                        <div id="retab5" class="tab-pane "><p>I'm in Section 5.</p>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#<div class="row-fluid">#}
                        {#<div class="span12 box">#}
                            {#<div class="box-content">#}
                                {#{{ form_start(form) }}#}
                                {#{{ form_row(form.productCategoryName) }}#}
                                {#{{ form_row(form.productCategoryUrl) }}#}
                                {#{{ form_row(form.parent)}}#}
                                {#{{ form_row(form.add) }}#}
                                {#{{ form_end(form) }}#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}