{# src/Atk/CmsBundle/Resources/views/security/login.html.twig #}
{% extends 'cms/base.html.twig' %}
{% form_theme form 'form/bootstrap_3_layout.html.twig' %}
{% block body %}
    <section id='content'>
        <div class='container-fluid'>
            <div class='row-fluid' id='content-wrapper'>
                <div class='span12'>
                    {% embed 'cms/content/content-header.html.twig' %}
                        {% block contentTitle %} New Category {% endblock %}
                    {%  endembed %}
                    <div class="row-fluid">
                        <div class="span12 box">
                            <div class="box-header blue-background">
                                <div class="title">
                                    <div class="icon-edit"></div>
                                    New Product Category
                                </div>
                                <div class="actions">
                                    {#<a class="btn box-remove btn-mini btn-link" href="#"><i class="icon-remove"></i>#}
                                    {#</a>#}

                                    <a id="product-form" class="btn box-collapse btn-mini btn-link" href="#"><i></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-content">
                                {{ form_start(form) }}
                                    {% for definition in form.definitions %}
                                        {{ form_row(definition.productCategoryName) }}
                                    {% endfor %}
                                    {{ form_row(form.parent)}}
                                    {{ form_row(form.add) }}
                                {#{{ form_errors(form) }}#}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}