{# src/Atk/CmsBundle/Resources/views/security/login.html.twig #}
{% extends 'cms/base.html.twig' %}
{% form_theme form 'cms/form/bootstrap_3_layout.html.twig' %}
{% block body %}
    <section id='content'>
        <div class='container-fluid'>
            <div class='row-fluid' id='content-wrapper'>
                <div class='span12'>
                    {% embed 'cms/content/content-header.html.twig' %}
                        {% block contentTitle %} New Product Category {% endblock %}
                    {%  endembed %}
                    <div class="row-fluid">
                        <div class="span12 box">
                            {#<div class="box-header blue-background">#}
                                {#<div class="title">#}
                                    {#<div class="icon-edit"></div>#}
                                    {#New Product Category#}
                                {#</div>#}
                                {#<div class="actions">#}
                                    {#&#123;&#35;<a class="btn box-remove btn-mini btn-link" href="#"><i class="icon-remove"></i>&#35;&#125;#}
                                    {#&#123;&#35;</a>&#35;&#125;#}

                                    {#<a id="product-form" class="btn box-collapse btn-mini btn-link" href="#"><i></i>#}
                                    {#</a>#}
                                {#</div>#}
                            {#</div>#}
                            <div class="box-content">
                                {{ form_start(form) }}
                                    {{ form_row(form.productCategoryName) }}
                                    {{ form_row(form.parent)}}
                                    {{ form_row(form.add) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}